name: Git

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
  check_suite:
    types: [completed]

jobs:
  dump:
    runs-on: ubuntu-20.04
    name: Dump context

    steps:
      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'

      - name: Dump job context
        run: echo '${{ toJSON(job) }}'
        
      - name: Dump steps context
        run: echo '${{ toJSON(steps) }}'
