name: Git

on:
  workflow_run:
    workflows:
      - Node.js CI

jobs:
  dump:
    runs-on: ubuntu-20.04
    name: Dump context

    steps:
      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'

      - name: Dump job context
        run: echo '${{ toJSON(job) }}'
        
      - name: Dump steps context
        run: echo '${{ toJSON(steps) }}'

      - name: Dump steps context
        run: echo '${{ toJSON(steps) }}'

  push:
    runs-on: ubuntu-20.04
    name: Push
    if: github.event_name == 'push' && github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Run on Push
        run: echo 'Push'

  pull:
    runs-on: ubuntu-20.04
    name: Pull Request
    if: github.event_name == 'pull_request' && github.event.label.name == 'deployment' && github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Run on Pull Request
        run: echo 'Pull Request'
